{% extends 'customer_menu_base.html' %}
{% block menus_block %}

<div class="pure-u-7-8">
<h3 align = "center">{{ item.name }} Creation</h3>
<p>Select from these delicious ingredients what you want in your {{ item.name }} by typing in the number you want: </p>
<!-- alert -->
{% if error %}
<div class="alert pure-u-3-4">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    Modification Not Successful, Please Modify Again!
</div>
{% endif %}

<form method="POST" class="pure-form pure-form-aligned">
{% for ingredient_type in item.ingredientsDict.keys() %}
    <h4>{{ ingredient_type }}:</h4>
    {% if error[ingredient_type] %}
        <font size="3" color="red">{{error[ingredient_type]}}</font><br/>
    {% endif %}
    <ul>
    {% for ingredient in item.ingredientsDict[ingredient_type].values() %}
    <div class="pure-control-group">
        <li> 
            {% if ingredient.name not in inventory.display_unavailable_ingredients() %}
                {% if ingredient.amount|int != 0 %}
                    <font size="5" color="darkorange">{{ingredient.amount}}</font><br/>
                {% endif %}
                {% if error[ingredient.name] %} 
                    <font size="3" color="red">{{error[ingredient.name]}}</font><br/>
                {% endif %}
                <label for="{{ ingredient.name }}" style='width: 20em; text-align: left'>{{ ingredient.name }}</label>
                <input id="{{ ingredient.name }}" type="number" name="{{ ingredient.name }}" style="width: 4em" min="0" >
            {% else %}
                <font size="3" color="red">{{ ingredient.name }} is unavailable</font>
            {% endif %}
        </li> 
    </div>
    {% endfor %}
    </ul>
{% endfor %}
    <div align = "center" class="pure-u-1-4">
        <button style="display: inline-block" name='button' type='submit' value ='submit' class="pure-button">submit</button>
        <button style="display: inline-block" name='button' type='reset' class="pure-button">cancel</button>
    </div>
</form>
</div>
{% endblock %}