{% extends 'base.html' %}
{% block body %}


<h3 align = "center">{{ item.name }} Creation</h3>
<p>Select from these delicious ingredients what you want in your {{ item.name }}: </p>

<form method="POST">
{% for ingredient_type in item.ingredientsDict.keys() %}
    <h5>{{ ingredient_type }}:</h5>
    <ul>
    {% for ingredient in item.ingredientsDict[ingredient_type].values() %}
        <li style="width:200px"> 
            <p style="white-space: pre;"> {{ ingredient }}
            <button name='button' type='submit' value="{{ ingredient.name }}">
            <i class="fas fa-plus-circle"></i> </button> </p> 
        </li> 
    {% endfor %}
    </ul>
{% endfor %}

        <button style="display: inline-block" name='button' type='submit'}}>submit</button>
        <button style="display: inline-block" name='button' type='reset'}}>cancel</button>

</form>
{% endblock %}