{% extends 'base_menus_review_checkout.html' %}
{% block menus_block %}

<h1> Order Review:</h1>
<div> {{ order }} </div>

<form method="POST">
{% if order %}
    <ul>
    {% for item_list in order.items.values() %}
    {% for item in item_list %}
    <li> 
        {{ item }}
        <button name='button' type='submit' value="{{ item.name }}"> <i class="fas fa-minus-circle"></i> </button> 
    </li> 
    {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
<div>
    <button name='button' type='submit' value="checkout"> 
        <i class="fas fa-money-bill"></i> Checkout</a>
    </button>
</div>
</form>

{% endblock %}

